name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always
  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup update && rustup default
      - run: cargo build --verbose
      - run: cargo test --verbose
      - run: cargo publish
